<div>
    <h2 id="page-heading">
        <span jhiTranslate="fun4FundApp.fee.home.title">Fees</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fee" [routerLink]="['/fee/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="fun4FundApp.fee.home.createLabel">
            Create a new Fee
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fees?.length === 0">
        <span jhiTranslate="fun4FundApp.fee.home.notFound">No fees found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fees && fees.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="fun4FundApp.fee.percentage">Percentage</span></th>
                    <th scope="col" ><span jhiTranslate="fun4FundApp.fee.highestAmount">Highest Amount</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fee of fees ;trackBy: trackId">
                    <td><a [routerLink]="['/fee', fee.id, 'view']">{{ fee.id }}</a></td>
                    <td>{{ fee.percentage }}</td>
                    <td>{{ fee.highestAmount }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fee', fee.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fee', fee.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fee)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
