<div class="paymentOptions" style="width: 20rem;">
    <div #paypal class="btnPaypal"> </div>
    
    <button class="btnSelectPayment hvr-icon-up"  style="width: 100%;" (click) = "paymentMethods()">
        <i class="fa fa-credit-card" style="margin-right: 2rem;"></i><a>Pagar con tarjeta del sistema</a>
    </button>
</div>



<!--/<jhi-paypal-button description="The best product" price="777.55" projectId= "1" [productType]="productType"></jhi-paypal-button>
    
    productType?:ProductType

    this.productType = ProductType.DONATION;


-->
