<div class="row">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
        <span>No hay categorías registradas</span>
    </div>

    <button class="btn btn-primary float-right create-category" [routerLink]="['/category/new']">Crear</button>
</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Categorías</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th></th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let category of categories ;trackBy: trackId">
                                <td><a [routerLink]="['/category', category.id, 'view']">{{ category.name }}</a></td>
                                <td>{{ category.description }}</td>
                                <td>{{ category.status == "ENABLED" ? "Activo" : "Inactivo" }}</td>
                                <td class="text-right">
                                    <button type="submit" rel="tooltip" class="btn btn-info btn-icon btn-sm"
                                            [routerLink]="['/category', category.id, 'view']">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="submit" rel="tooltip" class="btn btn-success btn-icon btn-sm"
                                            [routerLink]="['/category', category.id, 'edit']">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="submit" rel="tooltip" class="btn btn-danger btn-icon btn-sm" (click)="delete(category)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

