<form *ngIf="category" name="deleteForm" (ngSubmit)="confirmDelete(category?.id!)">
    <div class="modal-header">
        <h4 class="modal-title" >Confirmar operación</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-category-heading2" jhiTranslate="fun4FundApp.category.delete.question" [translateValues]="{ id: category.id }">¿Desea eliminar esta categoría?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <span>Cancelar</span>
        </button>

        <button id="jhi-confirm-delete-category" type="submit" class="btn btn-danger">
            <span>Eliminar</span>
        </button>
    </div>
</form>
