<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div *ngIf="category">
                        <div class="card-header ">
                            <h4 class="card-title">Categoría</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-control-label" for="field_name">Nombre</label>
                                <input type="text" class="form-control" name="name" id="field_name" value="{{ category.name }}" readonly/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="field_description">Descripción</label>
                                <input type="text" class="form-control" name="description" id="field_description" value="{{ category.description }}" readonly/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="field_status">Estado</label>
                                <input type="text" class="form-control" name="status" id="field_status" value="{{ category.status == 'DISABLED' ? 'Inactivo' : 'Activo'}}" readonly/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Imagen</label>
                                <div *ngIf="category.image" class="w-50 p-3">
                                    <img src="{{category.image?.url}}">
                                </div>
                                <div *ngIf="!category.image">
                                    <p>No hay ninguna imagen asociada.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer text-right">
                            <button type="submit"
                                    (click)="previousState()"
                                    class="btn btn-default"> Atrás
                            </button>
                            <button type="button"
                                    [routerLink]="['/category', category.id, 'edit']"
                                    class="btn btn-primary"> Editar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
