<div class="card card-user">
    <div class="image">
      <img src="../../../content/images/bg/damir-bosnjak.jpg" alt="...">
    </div>
    <div class="card-body">
      <div class="author">
        <a href="javascript:void(0)">
          <img class="avatar border-gray" src="{{img}}" alt="...">
          <h5 class="title">{{name}}</h5>
        </a>
      </div>
    </div>
    <div class="card-footer">
      <hr>
      <div class="button-container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-6 ml-auto">
            <h5>{{item1}}
              <br>
              <small>{{description1}}</small>
            </h5>
          </div>
          <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
            <h5>{{item2}}
              <br>
              <small>{{description2}}</small>
            </h5>
          </div>
          <div class="col-lg-3 mr-auto">
            <h5>{{item3}}
              <br>
              <small>{{description3}}</small>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>