<form name="selectPaymentForm">
  <div class="modal-header--paymentMethod" style="margin-bottom: 2rem;">
    <h4 class="modal-title" [hidden]="hidePayment" >Seleccione un método de pago</h4>
    <h4 class="modal-title" [hidden]="!invoice" >Factura</h4>

    <button type="button" class="close paymentClose" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>
  <div class="stepsSection">
    <div class="step1 stepActive"> <img class="stepImage" src="{{ number1 }}" alt=""></div>
    <div class="step2"> <img class="stepImage" src="{{ number2 }}" alt=""></div>
  </div>
  <div class="modal-body">
    <div class="modal-body--paymentMethod">
      <div class="cardsPaymentMethods">
        <div
          class="card paymentCard hvr-sweep-to-right"
          style="width: 320px"
          *ngFor="let paymentMethod of paymentMethods;"
          id="{{paymentMethod.id}}"
          (click)="addPaymentMethod($event)"
        >
          <div class="row justify-content-center">
            <div class="col-sm-4 align-self-center cardImage">
              <img src="{{ paymentMethod.typeImage }}" />
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h5 class="card-title">{{ paymentMethod.cardOwner }}</h5>
                <p class="card-text">***********{{ paymentMethod.cardNumber! | slice: 12:19 }}</p>
                <p class="card-text">{{ paymentMethod.expirationDate | date: 'MM/yy' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card flex-wrap" style="width: 600px" *ngIf="paymentMethods?.length === 0">
        <div class="row justify-content-center">
          <h3>Usted no posee metodos de pago</h3>
          <button
            id="jh-create-entity"
            class="btn btn-primary float-right jh-create-entity create-payment-method"
            [routerLink]="['/payment-method/new']"
          >
            <i class="nc-icon nc-simple-add"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-body-loading" [hidden]="!loading">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>

  <div class="modal-body-paymentInfo">
    <div class="card">
      <div class="invoiceCard">
        <div class="logoInvoiceContainer">
          <img class="logoInvoice" src="../../../content/images/logo.png" />   
        </div>
        
        <h5 class="card-title invoiceTitle">Hola, {{ name }}</h5>
     
        <h5 style="flex: 1 0 100%; margin-left: 2rem;">{{proyect?.name}}</h5>
        <p class="invoiceDescription">{{ description }}</p>
         <div
        class="invoiceCardSelected"
        id="{{paymentMethod?.id}}"
      >
        <div class="row justify-content-center" style="width: 100%;">
          <div class="col-sm-4 align-self-center cardImage">
            <img src="{{ paymentMethod?.typeImage }}" />
          </div>
          <div class="col-sm-8">
            <div class="card-body">
              <h5 class="card-title">{{ paymentMethod?.cardOwner }}</h5>
              <p class="card-text">***********{{ paymentMethod?.cardNumber! | slice: 12:19 }}</p>
              <p class="card-text">{{ paymentMethod?.expirationDate | date: 'MM/yy' }}</p>
            </div>
          </div>
        </div>
      </div>
        <p class="finalAmount">Total a pagar: ${{ payment?.amount }}</p>
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <div style="margin-top: 1rem">
      <button type="button" id="cancel-save" class="btn btn-secondary" (click)="cancel()" [hidden]="hidePayment">
        <span>Cancelar</span>
      </button>

      <button type="submit" [disabled]="!selected" class="btn btn-primary" (click)="viewInvoice()" [hidden]="hidePayment">
        <span>Siguiente</span>
      </button>


      <button type="button" id="cancel-save" class="btn btn-secondary"  [hidden]="!invoice"  (click)="back()">
        <span>Volver</span>
      </button>

      <button type="submit" id="save-entity" class="btn btn-primary" [hidden]="!invoice" (click)="pay()">
        <span>Pagar</span>
      </button>
    </div>
  </div>
</form>
