<div>
    
    <h2 id="page-heading">
        <span>Métodos de pago</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-method" [routerLink]="['/payment-method/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Agregar nueva tarjeta
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paymentMethods?.length === 0">
        <span class="notFoundCard">No has agregado ningun método de pago</span>
    </div>
   
    <div class="table-responsive" id="entities" *ngIf="paymentMethods && paymentMethods.length > 0">
        

         <table class="table">
            <tbody>
              <tr *ngFor="let paymentMethod of paymentMethods ;trackBy: trackId">
                  <td>
                <!--      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" checked>
                          <span class="form-check-sign"></span>
                        </label>
                      </div> -->
                    <button class="btn btn-round">
                        <i class="fa fa-heart"></i>
                    </button>
              
                    </td>
                
                    <td>
                   
                        <img class="img-payment-cards" src="{{paymentMethod.typeImage}}" alt="{{paymentMethod.type}}">
                    
                    </td>
                    <td>***********{{ paymentMethod.cardNumber! | slice:12:19  }}</td>
                    <td>{{ paymentMethod.cardOwner }}</td>
                    <td>{{ paymentMethod.expirationDate | date:"MM/yy"  }}</td>
                    <td class="text-right">
                        <div class="btn-group">

                            <button type="submit"
                                    [routerLink]="['/payment-method', paymentMethod.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" >Editar</span>
                            </button>

                            <button type="submit" (click)="delete(paymentMethod)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" >Eliminar</span>
                            </button>

        
                        </div>
                    </td>
              </tr>
            </tbody>
          </table>

          <div>
        </div>

    </div>
</div>
