@import '../../../content/scss/paper-dashboard/variables';

.create-payment-method {
  font-size: 16px;
}

.notFoundCard {
  font-weight: bold;
}

.favouriteCard {
  background: yellow;
}

.white {
  background: $white-color;
}
