@import '../../../content/scss/paper-dashboard/variables';

.create-payment-method {
  font-size: 16px;
}

.notFoundCard {
  font-weight: bold;
}

.favouriteCard {
  background: yellow;
}

.white {
  background: $white-color;
}

.containerPaymenthMethod {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);

  .formPaymenthMethod {
    padding: 2rem;
  }
}

.img-payment-cards {
  width: 5rem;
}

.hidden {
  display: none;
}

.heart i.fa-heart {
  color: #f44336;
}

i.fa-heart {
  color: #000000;
}

.heart {
  animation: heart 0.5s linear;
}

@keyframes heart {
  0% {
    transform: rotate(0deg) scale(1.7);
  }
  40% {
    transform: rotate(0deg) scale(1);
  }
  41% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
