<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-admin-preferences-heading" jhiTranslate="fun4FundApp.adminPreferences.home.createOrEditLabel">Create or edit a Admin Preferences</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fun4FundApp.adminPreferences.inactivityTime" for="field_inactivityTime">Inactivity Time</label>
                    <input type="number" class="form-control" name="inactivityTime" id="field_inactivityTime"
                           formControlName="inactivityTime"/>
                    <div *ngIf="editForm.get('inactivityTime')!.invalid && (editForm.get('inactivityTime')!.dirty || editForm.get('inactivityTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('inactivityTime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('inactivityTime')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fun4FundApp.adminPreferences.notificationRecurrence" for="field_notificationRecurrence">Notification Recurrence</label>
                    <input type="number" class="form-control" name="notificationRecurrence" id="field_notificationRecurrence"
                           formControlName="notificationRecurrence"/>
                    <div *ngIf="editForm.get('notificationRecurrence')!.invalid && (editForm.get('notificationRecurrence')!.dirty || editForm.get('notificationRecurrence')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('notificationRecurrence')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('notificationRecurrence')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
