<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adminPreferences">
            <h2><span jhiTranslate="fun4FundApp.adminPreferences.detail.title">Admin Preferences</span> {{ adminPreferences.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fun4FundApp.adminPreferences.inactivityTime">Inactivity Time</span></dt>
                <dd>
                    <span>{{ adminPreferences.inactivityTime }}</span>
                </dd>
                <dt><span jhiTranslate="fun4FundApp.adminPreferences.notificationRecurrence">Notification Recurrence</span></dt>
                <dd>
                    <span>{{ adminPreferences.notificationRecurrence }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admin-preferences', adminPreferences.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
