
  <footer class="footer">
    <div class="container">
        <div class="row justify-content-around" style="color: white;">
            <div class="col-md-5 footer-box">
             
            <p>En Fun4Fund impulsamos a todo tipo de personas para que estas logren su objetivo, con nuestra base de usuarios
                 y nuestra página hacen que los proyectos lleguen a un alcanze increíble.</p>
            </div>
            <div class="col-md-3 footer-box">
              <p style="margin: 3px 0 0 0;"><b>Contáctanos</b></p>
              <p style="margin: 0;"><i class="fa fa-map-marker"></i> San José, Costa Rica</p>
              <p style="margin: 0;"><i class="fa fa-phone"></i> +506 8322811</p>
              <p style="margin: 0;"><i class="fa fa-envelope-o"></i> fun4fund2020@gmail.com</p>
            </div>
            <div class="col-md-3 footer-box" style="display: flex; align-items: center;">
              <div style="display: flex; align-items: center;">
                <img src="../../../content/images/teamLogo.png" style="width: 3rem;"/>
                <p style="margin-top: 1rem;"><b>Creado por Logical Growth</b></p>        
               </div>
            </div>
          </div>
    </div>
</footer>