
<div class="main-content">
    <div class="col-md-10 mr-auto ml-auto">
      <!--      Wizard container        -->
      <div class="wizard-container">
        <div class="card card-wizard" data-color="primary" id="wizardProfile">
          <form action="" method="" (ngSubmit)="saveAplicationUser()" [formGroup]="registerForm">
            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
            <div class="card-header text-center">
              <h3 class="card-title">
                Construya su perfil
              </h3>
              <h5 class="description">Información básica.</h5>
              <div class="wizard-navigation">
                <ul>
                  <li class="nav-item">
                    <a class="nav-link active" href="#about" data-toggle="tab" role="tab" aria-controls="about" aria-selected="true">
                      <i class="nc-icon nc-single-02"></i> Acerca de usted
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#account" data-toggle="tab" role="tab" aria-controls="account" aria-selected="true">
                      <i class="nc-icon nc-single-02"></i> Asignar categoría
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#address" data-toggle="tab" role="tab" aria-controls="address" aria-selected="true">
                      <i class="nc-icon nc-pin-3"></i> Finalización
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane show active" id="about">
                  <h5 class="info-text"> Comencemos con la Información básica personal</h5>
                  <div class="row justify-content-center">
                    <div class="col-sm-8">
                      <div class="picture-container">
                        <div class="picture">
                          <img src="/content/images/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                          <input type="file" id="wizard-picture">
                        </div>
                        <h6 class="description">Ingrese una foto</h6>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                        <input type="text" class="form-control" formControlName="firstname" placeholder="Nombre (required)" name="firstname" (focus)="focus=true" (blur)="focus=false" />
                        <input type="text" class="form-control" formControlName="identify" placeholder="Cédula (required)" name="identify" (focus)="focus=true" (blur)="focus=false" />
                      </div>
                      <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                        <input type="text" placeholder="Apellido (required)" class="form-control" formControlName="lastname" name="lastname" (focus)="focus1=true" (blur)="focus1=false" />
                        <input type="tel" id="phone" name="phone" formControlName="phone" placeholder="8455-3535" pattern="[0-9]{4}-[0-9]{4}">
                      </div>
                    </div>
                    <div class="col-lg-10 mt-3">  
                        <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                        <input type="email" placeholder="Email (required)" class="form-control" formControlName="email"  name="email" (focus)="focus2=true" (blur)="focus2=false" />
                        <input type="password" pattern="[a-zA-Z]+" placeholder="Contraseña (required)" class="form-control" formControlName="password" name="password" (focus)="focus2=true" (blur)="focus2=false" />
                      </div>
                    </div>
                    <div class="col-lg-8 mt-3"> 
                        <div class="input-group" [ngClass]="{'input-group-focus':focus3===true}">                        
                        <label for="isadmin"><input type="checkbox" placeholder="admin" class="form-control" name="admin" formControlName="admin" (focus)="focus3=true" (blur)="focus3=false" />Marcar como administrador</label>
                        <label for="birthdate" (focus)="focus3=true" (blur)="focus3=false">Fecha Nacimiento:<input type="datetime-local" formControlName="birthdate" name="birthdate" ></label>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="account">
                  <h5 class="info-text"> Asignar categorías </h5>
                </div>
                <div class="tab-pane" id="address">
                  <div class="row justify-content-center">
                    <div class="col-sm-12">
                      <h5 class="info-text"> Gracias por completar el registro</h5>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="pull-right">
                <input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Siguiente' />
                <input type="submit" class='btn btn-finish btn-fill btn-rose btn-wd' name='finish' value='Finalizar' />
              </div>
              <div class="pull-left">
                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Anterior' />
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
      <!-- wizard container -->
    </div>
  </div>
  
