<div class="card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-12">
          <div class="icon-big text-center icon-warning">
            <img src="{{url}}"" alt="Girl in a jacket" width="150" height="100">
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-12">
          <div class="text-center">
            <p class="card-category">{{ title | uppercase}}</p>
            <p class="card-title">{{description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  