
    <h4 class="card-title">Agregar Avatar</h4>
    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
      <div class="fileinput-new thumbnail img-circle">
        <img src="/content/images/placeholder.jpg" alt="...">
      </div>
      <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
      <div>
        <span class="btn btn-round btn-rose btn-file">
          <span class="fileinput-new">Agregar imagen</span>
          <span class="fileinput-exists">Cambiar</span>
          <input type="file" name="..." />
        </span>
        <br />
        <a href="javascript:void(0)" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i>Removerla</a>
      </div>
    </div>

