<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                        <div class="card-header ">
                            <h4 class="card-title">Crear rifas</h4>
                        </div>

                        <div class="d-flex justify-content-center">
                            <jhi-carousel [items]="images" [interval]="4000" [keyboard]="false" width="300px" height="200px"></jhi-carousel>
                        </div>

                        <div class="card-body">
                            <div class="form-group" *ngIf="creating">
                                <label class="form-control-label">Imagen</label>
                                <jhi-cloudinary [okCallback]="saveImage.bind(this)"></jhi-cloudinary>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="field_name">Nombre</label>
                                <input type="text" class="form-control" name="name" id="field_name"
                                       formControlName="name"/>
                                <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('name')?.errors?.required">
                                        Este campo es requerido.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="field_description">Descripción</label>
                                <input type="text" class="form-control" name="description" id="field_description"
                                       formControlName="description"/>
                                <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('description')?.errors?.required">
                                        Este campo es requerido.
                                    </small>
                                </div>
                            </div>

                         <div class="form-group">
                                <label class="form-control-label" for="field_initialBid">Precio del tiquete</label>
                                <input type="number" class="form-control" name="initialBid" id="field_initialBid"
                                       formControlName="price"/>
                                <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('price')?.errors?.required">
                                        Este campo es requerido.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('price')?.errors?.min">
                                        Este campo debe ser al menos 0.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('price')?.errors?.number">
                                        Este campo debe ser un número.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="field_initialBid">Cantidad de tiquetes</label>
                                <input type="number" class="form-control" name="totalTicket" id="field_tiquete_num"
                                       formControlName="totalTicket"/>
                                <div *ngIf="editForm.get('totalTicket')!.invalid && (editForm.get('totalTicket')!.dirty || editForm.get('totalTicket')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('price')?.errors?.required">
                                        Este campo es requerido.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('totalTicket')?.errors?.min">
                                        Este campo debe ser al menos 0.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('totalTicket')?.errors?.number">
                                        Este campo debe ser un número.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_expirationDate">Fecha límite</label>
                                <div class="d-flex">
                                    <input id="field_expirationDate" type="datetime-local" class="form-control" name="expirationDate" formControlName="expirationDate" placeholder="DD-MM-YYYY HH:mm"/>
                                </div>
                                <div *ngIf="editForm.get('expirationDate')!.invalid && (editForm.get('expirationDate')!.dirty || editForm.get('expirationDate')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('expirationDate')?.errors?.required">
                                        Este campo es requerido.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('expirationDate')?.errors?.ZonedDateTimelocal">
                                        Este campo debe ser una fecha y una hora.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group" [hidden]="!editForm.get('id')!.value">
                                <label class="form-control-label" for="field_state">Estado</label>
                                <select class="form-control" name="state" formControlName="state" id="field_state">
                                    <option value="ENABLED">Habilitado</option>
                                    <option value="DISABLED">Deshabilitado</option>
                                    <option value="FINISHED">Terminado</option>
                                </select>
                                <div *ngIf="editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('state')?.errors?.required">
                                        Este campo es requerido.
                                    </small>
                                </div>
                            </div>

                            <div class="card-footer text-right">
                                <button type="button" id="cancel-save2" class="btn btn-default" (click)="previousState()">Atrás</button>
                                <button type="submit" id="save-entity2" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

