<div class="main-content">
  <div class="header text-center">
    <h3 class="title">{{title}}</h3>
  </div>
</div>
<div class="col-md-12">
  <div class="card card-timeline card-plain">
    <div class="card-body">
      <ul class="timeline {{timelineClass}}">
        <li *ngFor="let card of cards;" class="{{card.inverted ? 'timeline-inverted' : ''}}">
          <div class="timeline-badge {{card.type}}">
            <i class="{{card.icon}}"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="badge badge-pill badge-{{card.type}}">{{card.subTitle}}</span>
            </div>
            <div class="timeline-body">
              <p>{{card.body}}</p>
            </div>
          </div>
        </li>
        <li *ngIf="!cards.length" class="timeline-inverted">
          <div class="timeline-badge danger">
            <i class="nc-icon nc-single-copy-04"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-body">
              <p>No hay datos para mostrar.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>