.upload_button {
  cursor: pointer;
  background-color: #51cbce;
  color: #ffffff;
  border-width: 2px;
  font-weight: 600;
  font-size: 0.8571em;
  line-height: 1.35em;
  text-transform: uppercase;
  border: none;
  margin: 10px 1px;
  border-radius: 3px;
  padding: 11px 22px;
  transition: all 150ms linear;
}

#progress-bar {
  width: 300px;
}
.progress {
  height: 25px;
  width: 300px;
  background-color: #808080;
}
.progress-info {
  color: #000;
  text-align: center;
  font-weight: bold;
}
