<div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)"
    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
    <div class="card-body">
        <div class="form_group">
            <div id="progress-bar">
                <div class="progress progress-striped progress-success" value="1" max="100">
                    <div class="progress">
                        <span class="progress-bar progress-bar-striped active" role="progressbar" style="width: 0%;">0%</span>
                    </div>
                </div>
                <div class="progress-info">No hay imagen.</div>
            </div>
            <div class="form_controls">
                <div class="upload_button_holder d-flex justify-content-center">
                    <label class="upload_button" for="fileupload">Cargar</label>
                    <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'"
                        [uploader]="uploader" (change)="fileInput.value=''" multiple />
                </div>
            </div>
        </div>
    </div>
</div>
