.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 2rem);
  padding: 1rem 0;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  background-color: transparent;
  border: 0 solid transparent;
  border-radius: 0;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + 2rem);
  padding: 1rem 0;
  line-height: 1.5;
  color: #666;
  content: 'Buscar' !important;
  background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0.15), transparent) repeat-x;
  border-left: inherit;
  border-radius: 0;
}

.custom-file {
  width: 70%;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
