<jhi-alert></jhi-alert>
<div class="main-content card-body">
    <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#firsttab" role="tablist">
                <i class="now-ui-icons ui-2_settings-90"></i> Agregar imágenes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#secondtab" role="tablist">
                <i class="now-ui-icons shopping_shop"></i>Agregar Videos o 3D Tour
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="firsttab">
            <div class="main-content d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card ">
                        <div class="container-fluid">
                            <h4 class="card-title">Agregar imágenes</h4>
                        </div>
                        <div class="card-body ">
                            <div class="form-group has-label">
                                <jhi-cloudinary [okCallback]="saveImage.bind(this)"></jhi-cloudinary>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="secondtab">
            <div class="main-content d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card ">
                        <div class="container-fluid">
                            <h4 class="card-title">Agregar videos o 3D Tour</h4>
                        </div>

                        <div class="card-body ">
                            <jhi-alert-error></jhi-alert-error>
                            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm"
                                class="form-horizontal">
                                <div class="form-group has-label">
                                    <label for="field_name" class="control-label">URL del contenido</label>
                                    <span class="star">*</span>
                                    <input type="text" class="form-control" name="url" id="field_url"
                                        formControlName="url">
                                    <div
                                        *ngIf="editForm.get('url')!.invalid && (editForm.get('url')!.dirty || editForm.get('url')!.touched)">
                                        <small class="form-text text-danger"
                                            *ngIf="editForm.get('url')?.errors?.required">
                                            Campo es requerido.
                                        </small>
                                        <small class="form-text text-danger"
                                            *ngIf="editForm.get('url')?.errors?.maxlength">
                                            El nombre no puede ser mayor a 255 caracteres.
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group has-label">
                                    <label for="type" class="control-label">Tipo contenido</label>
                                    <span class="star">*</span>
                                    <select class="form-control custom-select custom-select-lg" name="type"
                                        formControlName="type" id="type">
                                        <option value="Youtube">Youtube</option>
                                        <option value="3DTour">3DTour</option>
                                    </select>
                                    <div
                                        *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                                        <small class="form-text text-danger"
                                            *ngIf="editForm.get('type')?.errors?.required">
                                            Campo requerido.
                                        </small>
                                    </div>

                                    <div>
                                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                                            class="btn btn-primary"><span>Guardar</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>