<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar" [ngSwitch]="isAuthenticated()">
    <button (click)="snav.toggle(); hideNav();" class="hamburgerButton">
      <i class="fa fa-bars iconHamburger"></i>
    </button>
    <h1 class="example-app-name">Responsive App</h1>

    <a class="" id="logout" (click)="logout()" *ngSwitchCase="true">
      <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
      <span>Sign out</span>
    </a>
    <a class="" id="login" (click)="login()" *ngSwitchCase="false">
      <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
      <span>Sign in</span>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav class="nav-list" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches">

      <mat-nav-list *ngIf="isAdmin()">
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of adminNav">
          <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
          {{nav.name}}</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="!isAdmin()">
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of userNav">
          <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
          {{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <jhi-footer></jhi-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->