<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar" [ngSwitch]="isAuthenticated()">
    <button (click)="snav.toggle(); hideNav();" class="hamburgerButton">
      <i class="fa fa-bars iconHamburger"></i>
    </button>
    <a href="/">
      <img src="../../../content/images/logo.png" style="width: 5rem;" alt="Logo de la aplicación">
    </a>
    
    <div class="right-content">
      <a href="/account/user-profile" *ngSwitchCase="true" style="margin-right: 2rem;" class="hvr-pulse-shrink">
        <img src="../../../content/images/navIcons/user.png" style="width: 2rem;" alt="Logo de la aplicación">
      </a>

        <a class="" id="logout" (click)="logout()" *ngSwitchCase="true" class="hvr-pulse-shrink">
          <img src="../../../content/images/navIcons/logout.png" style="width: 2rem;" alt="Logout">
        </a>


      <a class="" id="login" (click)="login()" *ngSwitchCase="false" class="hvr-pulse-shrink">
        <img src="../../../content/images/navIcons/login.png" style="width: 2rem;" alt="Login">
      </a>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav class="nav-list" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches">

      <mat-nav-list *ngIf="isAdmin() && isAuthenticated() ">
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of adminNav" class="hvr-sweep-to-right" (click)="snav.toggle(); hideNav();">
          <img class="navIcon" src="{{nav.icon}}"/>
          {{nav.name}}</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="!isAdmin() && isAuthenticated()">
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of userNav" class="hvr-sweep-to-right" (click)="snav.toggle(); hideNav();">
          <img class="navIcon" src="{{nav.icon}}"/>
          {{nav.name}}</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="!isAuthenticated()">
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of notLoggedNav" class="hvr-sweep-to-right" (click)="snav.toggle(); hideNav();">
          <img class="navIcon" src="{{nav.icon}}"/>
          {{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <jhi-footer></jhi-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->