<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar" [ngSwitch]="isAuthenticated()">
    <button (click)="snav.toggle(); hideNav();" class="hamburgerButton">
      <i class="fa fa-bars iconHamburger"></i>
    </button>
    <img src="../../../content/images/logo.png" style="width: 5rem;" alt="Logo de la aplicación">
    <div class="right-content">
      <a class="" id="" *ngSwitchCase="true" style="margin-right: 2rem;">
        <i class="fa fa-user-circle"></i>
        <span>Perfil</span>
      </a>
      <a class="" id="logout" (click)="logout()" *ngSwitchCase="true">
        <span>Cerrar sesión</span>
        <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
      </a>
      <a class="" id="login" (click)="login()" *ngSwitchCase="false">
        <span>Iniciar sesión</span>
        <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
      </a>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav class="nav-list" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap={{fixedTopGap}}>

      <mat-nav-list *ngIf="isAdmin()">
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of adminNav" class="hvr-sweep-to-right">
          <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
          {{nav.name}}</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="!isAdmin()">
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of userNav" class="hvr-sweep-to-right">
          <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
          {{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <jhi-footer></jhi-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->