<div class='container-fluid'>
    <div class='col-md-12'>
        <ngb-carousel [interval]="interval">
            <ng-template ngbSlide *ngFor="let item of items">
                <img *ngIf="item.type === '' || item.type === 'Image'" src={{item.url}} alt="No hay imágenes dispobiles"
                    style="width:{{width}};height:{{height}};">
                <div *ngIf="item.type === 'Youtube'">
                    <youtube-player videoId="{{GetVideoId(item.url)}}">
                    </youtube-player>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>