<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-payment-heading" jhiTranslate="fun4FundApp.payment.home.createOrEditLabel">Create or edit a Payment</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fun4FundApp.payment.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fun4FundApp.payment.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="RAFFLE">{{ 'fun4FundApp.ProductType.RAFFLE' | translate }}</option>
                        <option value="AUCTION">{{ 'fun4FundApp.ProductType.AUCTION' | translate }}</option>
                        <option value="DONATION">{{ 'fun4FundApp.ProductType.DONATION' | translate }}</option>
                        <option value="EXCLUSIVE_CONTENT">{{ 'fun4FundApp.ProductType.EXCLUSIVE_CONTENT' | translate }}</option>
                        <option value="PARTNERSHIP">{{ 'fun4FundApp.ProductType.PARTNERSHIP' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fun4FundApp.payment.timeStamp" for="field_timeStamp">Time Stamp</label>
                    <div class="d-flex">
                        <input id="field_timeStamp" type="datetime-local" class="form-control" name="timeStamp" formControlName="timeStamp" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('timeStamp')!.invalid && (editForm.get('timeStamp')!.dirty || editForm.get('timeStamp')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('timeStamp')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('timeStamp')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fun4FundApp.payment.applicationUser" for="field_applicationUser">Application User</label>
                    <select class="form-control" id="field_applicationUser" name="applicationUser" formControlName="applicationUser">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="applicationUserOption.id === editForm.get('applicationUser')!.value?.id ? editForm.get('applicationUser')!.value : applicationUserOption" *ngFor="let applicationUserOption of applicationusers; trackBy: trackById">{{ applicationUserOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fun4FundApp.payment.proyect" for="field_proyect">Proyect</label>
                    <select class="form-control" id="field_proyect" name="proyect" formControlName="proyect">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="proyectOption.id === editForm.get('proyect')!.value?.id ? editForm.get('proyect')!.value : proyectOption" *ngFor="let proyectOption of proyects; trackBy: trackById">{{ proyectOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
