<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="donationHistory">
            <h2><span jhiTranslate="fun4FundApp.donationHistory.detail.title">Donation History</span> {{ donationHistory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fun4FundApp.donationHistory.amount">Amount</span></dt>
                <dd>
                    <span>{{ donationHistory.amount }}</span>
                </dd>
                <dt><span jhiTranslate="fun4FundApp.donationHistory.timeStamp">Time Stamp</span></dt>
                <dd>
                    <span>{{ donationHistory.timeStamp }}</span>
                </dd>
                <dt><span jhiTranslate="fun4FundApp.donationHistory.applicationUser">Application User</span></dt>
                <dd>
                    <div *ngIf="donationHistory.applicationUser">
                        <a [routerLink]="['/application-user', donationHistory.applicationUser?.id, 'view']">{{ donationHistory.applicationUser?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="fun4FundApp.donationHistory.proyect">Proyect</span></dt>
                <dd>
                    <div *ngIf="donationHistory.proyect">
                        <a [routerLink]="['/proyect', donationHistory.proyect?.id, 'view']">{{ donationHistory.proyect?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/donation-history', donationHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
