<div class="main-content mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card card-user" *ngIf="auction">

                    <div class="card-header ">
                        <h4 class="card-title">Subasta</h4>
                    </div>

                    <div class="d-flex justify-content-center">
                        <jhi-carousel [items]="images" [interval]="4000" [keyboard]="false" width="300px"
                            height="200px"></jhi-carousel>
                    </div>

                    <div class="card-body">

                        <div class="text-center">
                            <h5 class="title">{{ auction.prize?.name }}</h5>
                        </div>

                        <p class="description text-center">
                            {{ auction.prize?.description }}
                        </p>

                        <div class="button-container">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-6 ml-auto">
                                  <h4>{{ auction.initialBid | currency:'USD':'symbol' }}
                                    <br>
                                    <small>Monto inicial</small>
                                  </h4>
                                </div>
                                <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                  <h4>{{ auction.expirationDate | date:'DD-MM-YYYY HH:mm' }}
                                    <br>
                                    <small>Fecha límite</small>
                                  </h4>
                                </div>
                                <div class="col-lg-3 mr-auto">
                                    <h4 *ngIf="auction.winningBid">{{ auction.winningBid | currency:'USD':'symbol' }}
                                      <br>
                                      <small>Puja máxima</small>
                                    </h4>
                                    <h4 *ngIf="!auction.winningBid">No hay pujas
                                        <br>
                                        <small>Puja máxima</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="card-footer text-right">
                        <button type="submit" (click)="previousState()" class="btn btn-default">
                            Atrás
                        </button>
                        <button type="button" *ngIf="isProjectOwner"
                            [routerLink]="['/auction', auction.id, 'edit']" class="btn btn-primary">
                            Editar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
