<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div *ngIf="auction">
                        <div class="card-header ">
                            <h4 class="card-title">Subasta</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-control-label" for="field_initalBid">Nombre</label>
                                <input type="text" class="form-control" name="name" id="field_name" value="{{ auction.prize?.name }}" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_description">Descripción</label>
                                <input type="text" class="form-control" name="name" id="field_description" value="{{ auction.prize?.description }}" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_initalBid">Monto inicial</label>
                                <input type="text" class="form-control" name="name" id="field_initalBid" value="{{ auction.initialBid | currency:'USD':'symbol':'4.2-2'}}" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_expirationDate">Fecha límite</label>
                                <input type="text" class="form-control" name="name" id="field_expirationDate" value="{{ auction.expirationDate | date }}" readonly/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_state">Estado</label>
                                <input type="text" class="form-control" name="name" id="field_state" value="{{ auction.state | state }}" readonly/>
                            </div>
                        </div>

                        <div class="card-footer text-right">
                            <button type="submit"
                                    (click)="previousState()"
                                    class="btn btn-info"> Atrás
                            </button>
                            <button type="button"
                                    [routerLink]="['/auction', auction.id, 'edit']"
                                    class="btn btn-primary"> Editar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
