<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-checkpoint-heading" jhiTranslate="fun4FundApp.checkpoint.home.createOrEditLabel">Create or edit a Checkpoint</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fun4FundApp.checkpoint.completitionPercentage" for="field_completitionPercentage">Completition Percentage</label>
                    <input type="number" class="form-control" name="completitionPercentage" id="field_completitionPercentage"
                           formControlName="completitionPercentage"/>
                    <div *ngIf="editForm.get('completitionPercentage')!.invalid && (editForm.get('completitionPercentage')!.dirty || editForm.get('completitionPercentage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('completitionPercentage')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('completitionPercentage')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fun4FundApp.checkpoint.message" for="field_message">Message</label>
                    <input type="text" class="form-control" name="message" id="field_message"
                           formControlName="message"/>
                    <div *ngIf="editForm.get('message')!.invalid && (editForm.get('message')!.dirty || editForm.get('message')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('message')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fun4FundApp.checkpoint.completed" for="field_completed">Completed</label>
                    <input type="checkbox" class="form-control" name="completed" id="field_completed"
                           formControlName="completed"/>
                    <div *ngIf="editForm.get('completed')!.invalid && (editForm.get('completed')!.dirty || editForm.get('completed')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('completed')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fun4FundApp.checkpoint.proyect" for="field_proyect">Proyect</label>
                    <select class="form-control" id="field_proyect" name="proyect" formControlName="proyect">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="proyectOption.id === editForm.get('proyect')!.value?.id ? editForm.get('proyect')!.value : proyectOption" *ngFor="let proyectOption of proyects; trackBy: trackById">{{ proyectOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
