<div class="row">
	<jhi-alert-error></jhi-alert-error>
	<jhi-alert></jhi-alert>
	<div class="alert alert-warning" id="no-result" *ngIf="applicationUsers?.length === 0">
		<span>No hay usuarios registradas</span>
	</div>
</div>

<div class="main-content">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline">Usuarios</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th scope="col" ><span>Cédula</span></th>
                                <th scope="col" ><span>Nombre</span></th>
                                <th scope="col" ><span>Apellido</span></th>
                                <th scope="col" ><span>Email</span></th>
                                <th scope="col" ><span>Teléfono</span></th>
                                <th scope="col" ><span>Tipo de usuario</span></th>
                                <th scope="col" ><span>Estado</span></th>
                                <th scope="col" ><span>Fecha de modificación</span></th>
                                <th scope="col" ><span>Fecha de creación</span></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let applicationUser of applicationUsers ;trackBy: trackId">
                                    <td>{{ applicationUser.identification }}</td>
                                    <td>{{ applicationUser.internalUser?.firstName }}</td>
                                    <td>{{ applicationUser.internalUser?.lastName }}</td>
                                    <td>{{ applicationUser.internalUser?.email }}</td>
                                    <td>{{ applicationUser.phoneNumber }}</td>
                                    <td>{{ applicationUser.admin ? 'Administrador' : 'Usuario' }}</td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" (click)="setActive(applicationUser,true)" *ngIf="!applicationUser.internalUser?.activated">Deactivated</button>
                                        <button class="btn btn-success btn-sm" (click)="setActive(applicationUser,false)" *ngIf="applicationUser.internalUser?.activated">Activated</button>
                                    </td>    
                                    <td>{{ applicationUser.internalUser?.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                                    <td>{{ applicationUser.internalUser?.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

