<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Enlace para reestablecer tu contraseña</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Hola
        </p>
        <p>
            ¿Olvidaste tu contraseña? ¡No te preocupes! Para crear una nueva contraseña, has click en el siguiente enlace
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Login</a>
        </p>
        <p>
            <span>Saludos, </span> <br/>
            <em>El equipo de Fun4fund.</em>
        </p>
    </body>
</html>
