<div class="card card-stats">
  <div class="card-body ">
    <div class="row">
      <div class="col-12">
        <div class="icon-big text-center icon-warning">
          <i class="nc-icon {{icon}} text-primary"></i>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-12">
        <div class="text-center">
          <p class="card-category">{{ title | uppercase}}</p>
          <p class="card-title">{{description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>