.category-type {
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 2px 12px 1px;
  border-radius: 9px;
  background: #6bd098;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}

.creator-name {
  font-size: 14px;
  color: gray;
  margin-top: -1em;
}

.updated-date {
  font-size: 14px;
  color: gray;
}

.proyect-card {
  transition: box-shadow 0.3s;
}

.proyect-card:hover:not(.no-click) {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  top: -1px;
  left: -1px;
}

.proyect-card * {
  box-sizing: border-box;
}

.search {
  width: 100%;
  margin-bottom: auto;
  margin-top: 20px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #536bf6;
  font-size: 19px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

.search-icon {
  height: 34px;
  width: 34px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #fbc658;
  font-size: 10px;
  bottom: 30px;
  position: relative;
  border-radius: 5px;
}

.search-icon:hover {
  color: #fff !important;
}

.subheader-section {
  margin-top: -26px;
}

.soft-name {
  font-size: 15px;
  color: gray;
}

.hard-name {
  font-size: 20px;
}

.active-cyan-4 input[type='text']:focus:not([readonly]) {
  border: 1px solid #51cbce;
  box-shadow: 0 0 0 1px #51cbce;
}

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  padding: 15px;
}

.project-type {
  margin-top: 1.5rem;
  background: #51bcda !important;
}

.project-subinfo {
  margin-left: 0.1rem;
}

header.masthead {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}
