<div class="main-content">
  <div class="container-fluid">
    <form #f="ngForm" novalidate name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm"
      class="form-horizontal row">
      <div class="col-md-6">
        <div class="card">
          <jhi-alert-error></jhi-alert-error>
          <div class="card-header ">
            <h4 class="card-title">Proyecto</h4>
          </div>
          <div class="card-body">
            <div class="form-group has-label" [hidden]="true">
              <label for="id" class="control-label">Id</label>
              <span class="star">*</span>
              <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly>
            </div>

            <div class="form-group has-label">
              <label for="field_name" class="control-label">Nombre</label>
              <span class="star">*</span>
              <input type="text" class="form-control" name="name" id="field_name" formControlName="name">
              <div
                *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required">
                  Campo es requerido.
                </small>
                <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.maxlength">
                  El nombre no puede ser mayor a 30 caracteres.
                </small>
              </div>
            </div>

            <div class="form-group has-label">
              <label for="field_description" class="control-label">Descripción</label>
              <span class="star">*</span>
              <input type="text" class="form-control" name="description" id="field_description"
                formControlName="description">
              <div
                *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.required">
                  Este campo es requerido.
                </small>
                <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.maxlength">
                  El campo no puede ser mayor a 300 caracteres.
                </small>
              </div>
            </div>

            <div class="form-group has-label" [hidden]="editForm.get('id')!.value">
              <label for="field_idType" class="control-label">Tipo de proyecto</label>
              <span class="star">*</span>
              <select class="form-control custom-select custom-select-lg" name="idType" formControlName="idType"
                id="field_idType">
                <option value="NONPROFIT">Lucrativo</option>
                <option value="PROFITABLE">No lucrativo</option>
              </select>
            </div>

            <div class="form-group has-label" [hidden]="editForm.get('id')!.value && !(goal <= collected)">
              <label for="field_goalAmount" class="control-label">Monto meta</label>
              <span class="star">*</span>
              <input type="text" class="form-control" name="goalAmount" id="field_goalAmount"
                formControlName="goalAmount">
              <div
                *ngIf="editForm.get('goalAmount')!.invalid && (editForm.get('goalAmount')!.dirty || editForm.get('goalAmount')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('goalAmount')?.errors?.required">
                  Este campo es requerido.
                </small>
                <small class="form-text text-danger" *ngIf="editForm.get('goalAmount')?.errors?.min">
                  El campo tiene que ser mayor a un $1.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.get('goalAmount')?.errors?.number">
                  El campo debe ser un número.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.get('goalAmount')?.errors?.pattern">
                  El campo debe ser un número.
                </small>
              </div>
            </div>

            <div class="form-group has-label">
              <label for="field_category" class="control-label">Categoría</label>
              <span class="star">*</span>
              <select class="form-control custom-select custom-select-lg" id="field_category" name="category"
                formControlName="category">
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="categoryOption.id === editForm.get('category')!.value?.id ? editForm.get('category')!.value : categoryOption"
                  *ngFor="let categoryOption of categories; trackBy: trackById">{{ categoryOption.name }}</option>
              </select>
            </div>

            <div class="form-group has-label">
              <label for="field_number" class="control-label">Número de cuenta</label>
              <span class="star">*</span>
              <input type="text" class="form-control" name="number" id="field_number" formControlName="number">
              <div
                *ngIf="editForm.get('number')!.invalid && (editForm.get('number')!.dirty || editForm.get('number')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('number')?.errors?.required">
                  Este campo es requerido.
                </small>
                <small class="form-text text-danger" *ngIf="editForm.get('number')?.errors?.pattern">
                  El campo no cumple el formato.
                </small>
              </div>
            </div>

            <div class="form-group has-label">
              <label for="field_idType" class="control-label">Tipo de moneda</label>
              <span class="star">*</span>
              <select class="form-control custom-select custom-select-lg" name="currencyType"
                formControlName="currencyType" id="field_currencyType">
                <option value="USD">USD</option>
                <option value="CRC">CRC</option>
              </select>
              <div
                *ngIf="editForm.get('currencyType')!.invalid && (editForm.get('currencyType')!.dirty || editForm.get('currencyType')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('currencyType')?.errors?.required">
                  Este campo es requerido.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card ">
          <div class="card-header ">
            <h4 class='card-title'>Geolocalización</h4>
          </div>
          <div class="card-body ">
            <ngui-map zoom="7" center="9.7489,-83.7534" (mapClick)="onMapClick($event)">
              <marker [position]="position" *ngIf="hasMarker"></marker>
            </ngui-map>
          </div>
          <div class="card-footer text-right">
            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
              <span>Guardar</span>
            </button>
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
              <span>Atrás</span>
            </button>
            <p class="card-text lead">
              La comisión que se va cobrar es {{ proyectFee }}% 
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>