<header class="masthead text-center text-white">
    <div class="mask rgba-gradient masthead-content">
        <div class="container bcontent mt-5" style="margin-bottom: -148px; max-width: 1425px !important;">
            <h2 id="page-heading" class="main-title">Proyectos</h2>

            <div class="row">
                <div class="col-md-12">
                    <p class="main-text">¿Preparado para encontrar proyectos?</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <jhi-simple-button type="warning" label="Iniciar proyecto" [routerLink]="['/proyect/new']"></jhi-simple-button>
                </div>
            </div>

            <div class="card" style="padding-top: 1rem;padding-bottom: 1rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 active-cyan-4">
                            <div class="form-group has-label">
                                <label for="filer_searchBar" class="control-label">Nombre</label>
                                <input type="text" class="form-control" name="descriptionName" id="filer_searchBar" [(ngModel)]="description">
                            </div>
                        </div>

                        <div class="col-sm-2 active-cyan-4">
                            <div class="form-group">
                                <label for="category">Categoría</label>
                                <select name="categories" id="category" class="form-control" [(ngModel)]="category">
                                    <option value="-1">Todas</option>
                                    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label for="sortBy"></label>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="PROFITABLE" [(ngModel)]="profitable">
                                        <span class="form-check-sign"></span>
                                        Lucrativo
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="NONPROFIT" [(ngModel)]="nonprofit">
                                        <span class="form-check-sign"></span>
                                        No Lucrativo
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="sortBy">Ordenar</label>
                                <select class="form-control active-cyan-4" id="sortBy" [(ngModel)]="sortBy">
                                    <option value="creationDate" selected>Fecha de creación</option>
                                    <option value="lastUpdated">Fecha de actualización</option>
                                    <option value="collected">Monto recolectado</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group" style="margin-top: 1rem;">
                                <jhi-simple-button type="warning" label=" Buscar" (click)="loadFilter()"></jhi-simple-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container bcontent mt-5" style="margin-top: 120px !important;">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-md-3">
            <p class="section-subheading secondary-text" *ngIf="proyects?.length">
                Hemos encontrado {{proyects?.length}} resultado(s)
            </p>
            <p class="section-subheading secondary-text" *ngIf="!proyects?.length">
                No hemos encontrado resultados
            </p>
        </div>
        <div class="col-md-2">
            <div class="timeline-heading" style="margin-left: 1rem;">
                <span class="badge badge-pill badge-warning">Filtros aplicados</span>
            </div>
        </div>
        <div class="col-md-2">
            <p (click)="clearFilters()" class="text-warning font-weight-bold">Limpiar</p>
        </div>
    </div>

    <div *ngIf="proyects?.length === 0">
        <p>Lo sentimos, no existen coincidencias con su búsqueda.</p>
    </div>

    <div class="card proyect-card" *ngFor="let proyect of proyects | orderBy: sortBy:true;trackBy: trackId">
        <div class="row no-gutters">
            <div class="col-sm-3">
                <div *ngIf="proyect.images && proyect.images.length > 0; else noImage">
                    <img class="card-img" src="{{proyect.images[0].url}}">
                </div>
                <ng-template #noImage>
                    <img class="card-img" src="../../../content/images/noimagen.jpg" alt="No hay imágenes">
                </ng-template>
                <div class="row project-subinfo">
                    <p class="category-type">{{proyect.category?.name}}</p>
                    <p class="category-type project-type">{{ proyect.idType === "NONPROFIT" ? 'No lucrativo': 'Lucrativo' }}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-body">
                    <h5 class="card-title">{{proyect.name}}</h5>
                    <p class="card-text creator-name">
                        por {{ proyect.owner?.internalUser?.firstName }} {{ proyect.owner?.internalUser?.lastName }}
                        | {{ proyect.creationDate | date:"MM/dd/yy" }}
                    </p>
                    <p class="card-text"> {{ (proyect.description) }}</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card-body">
                    <p class="card-text text-right">
                        <span  class="hard-name font-weight-bold text-info">{{ proyect.collected| currency:'USD':'symbol':'1.2-2' }}</span>
                        <span class="soft-name"> de {{ proyect.goalAmount| currency: 'USD':'symbol':'1.2-2'}}</span>
                    </p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                             style="width: {{getPercentile(proyect)}}" aria-valuemin="0" aria-valuemax="100">
                            {{getPercentile(proyect)}}
                        </div>
                    </div>
                    <p class="card-text text-right updated-date">Última actualización: {{getLastUpdate(proyect) | lastUpdate}} </p>
                    <div class="pull-right">
                        <a [routerLink]="['/proyect', proyect.id, 'view']" class="btn btn-primary pull-center">Ver proyecto</a>
                        <div *ngIf="!proyect.favorite; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <jhi-icon buttonCssClass="btn-secondary" iconCssClass="fa fa-heart" (click)="addFavorite(proyect)"></jhi-icon>
                        </ng-template>
                        <ng-template #elseBlock>
                            <jhi-icon buttonCssClass="btn-danger" iconCssClass="fa fa-heart" (click)="removeFavorite(proyect)"></jhi-icon>
                        </ng-template>
                        <jhi-icon *ngIf="isProjectAdmin(proyect)" buttonCssClass="btn-default" iconCssClass="fa fa-edit" [routerLink]="['/proyect', proyect.id, 'edit']"></jhi-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
