<jhi-alert></jhi-alert>
<div *ngIf="proyect">
    <div class="col-lg-12 card-testimonial">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-auto">{{ proyect.name }}</h2>
            </div>
            <div class="card-body">
                <p class="col-lg-8 ml-auto mr-auto mb-1">{{ proyect.description }}
                    <br>
                    Proyecto {{ proyect.idType === 'NONPROFIT' ? 'sin fines de lucro': 'con fines de lucro' }}
                </p>
                <div class="stars-outer">
                    <div class="stars-inner" style="width:{{rating}}%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-11">
        <div class="row">
            <div class="col-lg-8" id="gallery">
                <jhi-carousel [items]="items" [interval]="0" [keyboard]="true" width="100%" height="31vw"></jhi-carousel>
                <div *ngIf="items && items.length === 0">
                    <img src="../../../content/images/noimagen.jpg" alt="No hay imágenes" style="width:100%;height:28vw;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <jhi-progress-bar progressBarClass="progress-bar-danger" minValue="0"
                        maxValue="{{proyect.goalAmount}}" percentile="{{percentile}}"
                        currentValue="{{proyect.collected}}">
                    </jhi-progress-bar>
                    <div class="card-body col-md-11 ml-auto mr-auto text-center">
                        <div class="col-lg-12 mb-3">
                            <span>{{ proyect.collected| currency:proyect.currencyType:'symbol':'1.2-2' }} recaudado de
                                {{ proyect.goalAmount| currency:proyect.currencyType:'symbol':'1.2-2'}}</span>
                        </div>

                        <div class="col-lg-12 mb-3">
                            <span>{{ daysCreated }} desde la creación.</span>
                        </div>

                        <div class="col-lg-12 mb-3">
                            <span>{{ updatedDays }} desde la última actualización.</span>
                        </div>
                    </div>
                    <div class="card-body pt-1">
                        <h5 class="card-title text-center">¡Forma parte de este sueño!</h5>
                        <button class="btn btn-warning col-md-12" (click)=donate()>
                            <span class="btn-label">
                                <i class="nc-icon nc-money-coins"></i>
                            </span>
                            Hacer una donación
                        </button>
                        <button class="btn btn-info col-md-12">
                            <span class="btn-label">
                                <i class="nc-icon nc-circle-10"></i>
                            </span>
                            Hacerse socio
                        </button>
                    </div>
                    <div class="d-flex flex-row col-lg-12 justify-content-center">
                        <div class="p-2  text-center">
                            <jhi-icon buttonCssClass="btn" iconCssClass="nc-icon nc-alert-circle-i">
                            </jhi-icon>
                            <p>{{ proyect.category?.name }}</p>
                        </div>
                        <div class="p-2">
                            <jhi-icon buttonCssClass="btn-facebook" iconCssClass="fa fa-facebook-f">
                            </jhi-icon>
                        </div>
                        <div class="p-2">
                            <jhi-icon buttonCssClass="btn-primary" iconCssClass="fa fa-heart"></jhi-icon>
                        </div>
                        <div class="p-2" *ngIf="isProjectOwner">
                            <button type="button" [routerLink]="['/proyect', proyect.id, 'edit']"
                                class="btn btn-primary">
                                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class='card-title'>Localización del proyecto</h4>
                    </div>
                    <div class="card-body ">
                        <ngui-map zoom="13" [center]="mapCenter">
                            <marker [position]="position" *ngIf="hasMarker"></marker>
                        </ngui-map>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="card card-tasks">
                    <div class="card-header ">
                        <h4 class="card-title">Top 5 de donadores del proyecto</h4>
                    </div>
                    <div class="card-body ">
                        <div class="table-full-width table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let donor of donors;">
                                        <td class="img-row">
                                            <div class="img-wrapper">
                                                <img src="{{donor[1].internalUser.imageUrl}}" class="img-raised" />
                                            </div>
                                        </td>
                                        <td class="text-left col-md-12">{{ donor[1].internalUser.firstName }}
                                            {{ donor[1].internalUser.lastName }}
                                        </td>
                                    </tr>
                                    <tr class="alert alert-warning" id="no-result" *ngIf="donors && !donors.length">
                                        <td class="text-left col-md-12">No hay donadores en el proyecto
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="card-body ">
                    <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#link8" role="tablist">
                                <i class="now-ui-icons ui-2_settings-90"></i> Checkpoints
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="reviews && reviews.length !== 0">
                            <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                                <i class="now-ui-icons shopping_shop"></i>Calificaciones
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link10" role="tablist">
                                <i class="now-ui-icons shopping_shop"></i>Contenido exclusivo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link11" role="tablist">
                                <i class="now-ui-icons shopping_shop"></i>Subastas
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-space tab-subcategories">
                        <div class="tab-pane active" id="link8">
                            <div class="col-md-12">
                                <div class="pull-right" *ngIf="isProjectOwner">
                                    <button class="btn btn-success btn-round btn-icon btn-sm" [routerLink]="['/checkpoint', proyect!.id, 'new']">
                                      <i class="nc-icon nc-simple-add"></i>
                                    </button>
                                </div>
                                <jhi-timeline title="Checkpoints" [cards]="cards" timelineClass="timeline-simple">
                                </jhi-timeline>
                            </div>
                        </div>
                        <div class="tab-pane" id="link9">
                            <div class="container-fluid">
                                <div class="header text-center">
                                    <h3 class="title">Comentarios y calificaciones</h3>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-4 col-md-5 col-sm-8" *ngFor="let review of reviews;">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <div class="stars-outer little-stars">
                                                        <div class="stars-inner" style="width:{{review.rating*100/5}}%">
                                                        </div>
                                                    </div>
                                                </h4>
                                                <p class="card-text">{{ review.message }}</p>
                                                <p class="card-text">
                                                    <small class="text-muted">{{ review.user }}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-8" *ngIf="reviews && !reviews.length">
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="card-text">No hay comentarios ni calificaciones.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="link10">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title d-inline"> Contenido exclusivo </h4>
                                            <div class="pull-right" *ngIf="isProjectOwner">
                                                <button class="btn btn-success btn-round btn-icon btn-sm" [routerLink]="['/exclusive-content', proyect!.id, 'new']">
                                                  <i class="nc-icon nc-simple-add"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="alert alert-warning" id="no-result"
                                            *ngIf="exclusiveContents?.length === 0">
                                            <span>No hay elementos</span>
                                        </div>

                                        <div class="card-body">
                                            <div class="table-responsive" id="entities"
                                                *ngIf="exclusiveContents && exclusiveContents.length > 0">
                                                <table class="table">
                                                    <thead class="text-primary">
                                                        <th><span>Producto</span></th>
                                                        <th><span>Precio</span></th>
                                                        <th><span>Disponibles</span></th>
                                                        <th *ngIf="isProjectOwner"><span>Estado</span></th>
                                                        <th class="text-center">
                                                            <span>Acciones</span></th>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let exclusiveContent of exclusiveContents">
                                                            <td>{{ exclusiveContent.prize?.name }}</td>
                                                            <td>{{ exclusiveContent.price | currency:'USD':'symbol'}}</td>
                                                            <td>{{ exclusiveContent.stock }}</td>
                                                            <td *ngIf="isProjectOwner">{{ exclusiveContent.state | state}}</td>
                                                            <td class="text-center">
                                                                <button type="submit" rel="tooltip" class="btn btn-info btn-icon btn-sm"
                                                                    [routerLink]="['/exclusive-content', exclusiveContent.id, 'view']">
                                                                <i class="fa fa-eye"></i>
                                                                </button>
                                                                <button *ngIf="isProjectOwner" type="submit" rel="tooltip" class="btn btn-success btn-icon btn-sm"
                                                                        [routerLink]="['/exclusive-content', exclusiveContent.id, 'edit']">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="link11">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title d-inline">Subastas</h4>
                                            <div class="pull-right" *ngIf="isProjectOwner">
                                                <button class="btn btn-success btn-round btn-icon btn-sm" [routerLink]="['/auction', proyect!.id, 'new']">
                                                    <i class="nc-icon nc-simple-add"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="alert alert-warning" id="no-result-auction"
                                             *ngIf="auctions?.length === 0">
                                            <span>No hay elementos</span>
                                        </div>

                                        <div class="card-body">
                                            <div class="table-responsive" id="auctions"
                                                 *ngIf="auctions && auctions.length > 0">
                                                <table class="table">
                                                    <thead class="text-primary">
                                                    <th><span>Nombre</span></th>
                                                    <th><span>Descripción</span></th>
                                                    <th><span>Fecha de expiración</span></th>
                                                    <th><span>Monto Inicial</span></th>
                                                    <th><span>Puja ganadora</span></th>
                                                    <th *ngIf="isProjectOwner"><span>Estado</span></th>
                                                    <th class="text-center">
                                                        <span>Acciones</span></th>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let auction of auctions">
                                                        <td>{{ auction.prize?.name }}</td>
                                                        <td>{{ auction.prize?.description }}</td>
                                                        <td>{{ auction.expirationDate | date }}</td>
                                                        <td>{{ auction.initialBid | currency:'USD':'symbol'}}</td>
                                                        <td>{{ auction.winningBid | currency:'USD':'symbol'}}
                                                            <span *ngIf="auction.winner?.id == userId" class="badge badge-pill badge-success">Tú</span>
                                                        </td>
                                                        <td *ngIf="isProjectOwner">{{ auction.state | state}}</td>
                                                        <td class="text-center">
                                                            <button *ngIf="isProjectOwner" type="submit" rel="tooltip" class="btn btn-info btn-icon btn-sm"
                                                                    [routerLink]="['/auction', auction.id, 'view']">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                            <button *ngIf="isProjectOwner" type="submit" rel="tooltip" class="btn btn-success btn-icon btn-sm"
                                                                    [disabled]="auction.winningBid" [routerLink]="['/auction', auction.id, 'edit']">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                            <button *ngIf="!isProjectOwner" type="submit" rel="tooltip" class="btn btn-info btn-icon btn-sm"
                                                                (click)="bid(auction)" [disabled]="auction.winner?.id == userId">
                                                                <i class="fa fa-gavel"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
