<div class="container bcontent mt-5">
    <h2 id="page-heading">Proyectos</h2>
    <div class="row subheader-section">
        <div class="col-sm-2">
            <h5 class="section-subheading text-muted">{{proyects?.length}} resultados</h5>
        </div>
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <jhi-simple-button type="warning" label="Iniciar proyecto" [routerLink]="['/proyect/new']"></jhi-simple-button>
        </div>
    </div>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="proyects?.length === 0">
        <span>Estamos trabajando en encontrar proyectos. Por favor regrese pronto.</span>
    </div>
    <div class="card proyect-card" *ngFor="let proyect of proyects ;trackBy: trackId">
        <div class="row no-gutters">
            <div class="col-sm-3">
                <div *ngIf="proyect.images && proyect.images.length > 0; else noImage">
                    <img class="card-img" src="{{proyect.images[0].url}}">
                </div>
                <ng-template #noImage>
                    <img class="card-img" src="../../../content/images/noimagen.jpg" alt="No hay imágenes">
                </ng-template>
                <p class="category-type">{{proyect.category?.name}}</p>
            </div>
            <div class="col-sm-6">
                <div class="card-body">
                    <h5 class="card-title">{{proyect.name}}</h5>
                    <p class="card-text creator-name">
                        por {{ proyect.owner?.internalUser?.firstName }} {{ proyect.owner?.internalUser?.lastName }}
                        | {{ proyect.creationDate | date:"MM/dd/yy" }}
                    </p>
                    <p class="card-text"> {{ (proyect.description) }}</p>
                    <div class="stars-outer">
                        <div class="stars-inner" style="width:94%"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card-body">
                    <p class="card-text text-right">
                        {{ proyect.collected | currency:proyect.currencyType:'symbol':'4.2-2' }} de
                        {{ proyect.goalAmount | currency:proyect.currencyType:'symbol':'4.2-2' }}
                    </p>

                    <jhi-progress-bar progressBarClass="progress-bar-warning" minValue="0"
                                      maxValue="{{proyect.goalAmount}}" percentile="{{getPercentile(proyect)}}"
                                      currentValue="{{ proyect.collected }}}">
                    </jhi-progress-bar>

                    <p class="card-text text-right updated-date">Última actualización: {{getLastUpdate(proyect) | lastUpdate}} </p>

                    <div class="pull-right">
                        <a [routerLink]="['/proyect', proyect.id, 'view']" class="btn btn-primary pull-center">Ver proyecto</a>
                        <jhi-icon buttonCssClass="btn-primary" iconCssClass="fa fa-heart"></jhi-icon>
                        <jhi-icon *ngIf="isProjectAdmin(proyect)" buttonCssClass="btn-success" iconCssClass="fa fa-edit" [routerLink]="['/proyect', proyect.id, 'edit']"></jhi-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
