<div class="main-content mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card" *ngIf="exclusiveContent">

                    <div class="card-header">
                        <h4 class="card-title">Contenido Exclusivo</h4>
                    </div>

                    <div class="d-flex justify-content-center">
                        <jhi-carousel [items]="images" [interval]="4000" [keyboard]="false" width="300px"
                            height="200px"></jhi-carousel>
                    </div>

                    <div class="card-body">

                        <dt><span>Nombre:</span></dt>
                        <dd>
                            <span>{{ prize?.name }}</span>
                        </dd>
                        <dt><span>Descripción:</span></dt>
                        <dd>
                            <span>{{ prize?.description }}</span>
                        </dd>
                        <dt><span>Precio:</span></dt>
                        <dd>
                            <span>{{ exclusiveContent.price | currency:'USD':'symbol' }}</span>
                        </dd>
                        <dt><span>Cantidad:</span></dt>
                        <dd>
                            <span>{{ exclusiveContent.stock }}</span>
                        </dd>

                    </div>

                    <div class="card-footer text-right">
                        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                            Atrás
                        </button>

                        <button type="button" *ngIf="isProjectOwner"
                            [routerLink]="['/exclusive-content', exclusiveContent.id, 'edit']" class="btn btn-primary">
                            Editar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
