<div class="main-content mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card">
                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

                        <div class="card-header">
                            <h4 class="card-title">Contenido Exclusivo</h4>
                        </div>

                        <div class="d-flex justify-content-center">
                            <jhi-carousel [items]="images" [interval]="4000" [keyboard]="false" width="300px" height="200px"></jhi-carousel>
                        </div>
                        
                        <div class="card-body">

                            <div class="form-group" *ngIf="creating">
								<label class="form-control-label">Imagen</label>
                                <jhi-cloudinary [okCallback]="saveImage.bind(this)"></jhi-cloudinary>
							</div>

                            <div class="form-group has-label">
                                <label class="form-control-label" for="field_name">Nombre:
                                    <span class="star">*</span>
                                </label>
                                <input type="text" class="form-control" name="name" id="field_name"
                                    formControlName="name" />
                                <div
                                    *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required">
                                        Este campo es requerido.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group has-label">
                                <label class="form-control-label" for="field_description">Descripción:
                                    <span class="star">*</span>
                                </label>
                                <input type="text" class="form-control" name="description" id="field_description"
                                    formControlName="description" />
                                <div
                                    *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                                    <small class="form-text text-danger"
                                        *ngIf="editForm.get('description')?.errors?.required">
                                        Este campo es requerido.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group has-label">
                                <label class="form-control-label" for="field_price">Precio:
                                    <span class="star">*</span>
                                </label>
                                <input type="number" class="form-control" name="price" id="field_price"
                                    formControlName="price" />
                                <div
                                    *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                                    <small class="form-text text-danger"
                                        *ngIf="editForm.get('price')?.errors?.required">
                                        Este campo es requerido.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.min">
                                        Este campo debe ser mayor a 0.
                                    </small>
                                    <small class="form-text text-danger"
                                        [hidden]="!editForm.get('price')?.errors?.number">
                                        Este campo debe ser un número.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group has-label">
                                <label class="form-control-label" for="field_stock">Cantidad:
                                    <span class="star">*</span>
                                </label>
                                <input type="number" class="form-control" name="stock" id="field_stock"
                                    formControlName="stock" />
                                <div
                                    *ngIf="editForm.get('stock')!.invalid && (editForm.get('stock')!.dirty || editForm.get('stock')!.touched)">
                                    <small class="form-text text-danger"
                                        *ngIf="editForm.get('stock')?.errors?.required">
                                        Este campo es requerido.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('stock')?.errors?.min">
                                        Este campo debe ser mayor a 0.
                                    </small>
                                    <small class="form-text text-danger"
                                        [hidden]="!editForm.get('stock')?.errors?.number">
                                        Este campo debe ser un número.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group has-label">
                                <label class="form-control-label" for="field_state">Estado</label>
                                <select class="form-control" name="state" formControlName="state" id="field_state">
                                    <option value="ENABLED">Habilitado
                                    </option>
                                    <option value="DISABLED">Deshabilitado
                                    </option>
                                </select>
                                <div
                                    *ngIf="editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('state')?.errors?.required">
                                        Este campo es requerido.
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer text-right">
                            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                Cancelar
                            </button>

                            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                                class="btn btn-primary">
                                Registrar
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>