.detail-title {
  display: inline;
  margin: 0 12px 0 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: #2c2c2c;
  max-width: calc(100% - 250px);
}

.soft-name {
  font-size: 15px;
  color: gray;
}
